body{
  font-family: monospace;
  /*background-color: rgb(0,15 ,0);*/
  /*color:#FFF;*/
  font-family: 'Comfortaa', cursive;
  background-image: url('/img/clock.png');
  background-repeat: no-repeat;
      background-position: right bottom;
    background-attachment: fixed;
    background-size: 100% 25%; 
}

.heading{
  background-color: rgb(0,15 ,0);
  color : #FFF;
}

.costDisplay{
  font-size: 2.5em;
  text-align: center;
}

.timeDisplay{
  text-align: center
}

.actionButtons{
  text-align: center;
}

.actionButton{
  font-size: 1.5em;
}