body{
  font-family: monospace;
  background-color: rgb(0,15 ,0);
  color:#FFF;
  font-family: 'Comfortaa', cursive;
}
.heading{
  background-color: rgb(0,10 ,0);
  color : #FFF;
}
.timeDisplay{
  font-size: 2.5em;
  text-align: center;
  color : #EEE;  
  background-color: rgb(0,10 ,0);
}
.actionButtons{
  text-align: center;
}
.actionButton{
  font-size: 1.5em;
}
